[defaults]
roles_path = ./roles
# collections_path = ./collections  # Doesn't work with Event Driven Ansible...
inventory = ./inventories/local
log_path = ansible_http.log

# vault_identity_list = dev@./.vault-dev, test@./.vault-test, acc@./.vault-acc, prod@./.vault-prod

callback_enabled = timer, profile_tasks, profile_roles
stdout_callback = yaml
force_color =1
nocows = 1
deprecation_warnings = True
